<!DOCTYPE html>
<html>

<head>
	<title>Search</title>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
	{% if result %}
	<div class=" min-h-screen home-hero">
		<div class=" text-center text-neutral-content p-0">
			<div class=" p-5 h-screen scale-75 overflow-x-scroll">

				<div class=" type-card">
					<h2 class="text-left">Albums</h2>
					<div class="data-slide flex overflow-y-scroll scrollport">
						{% for i in data.albums %}
						<div class="data-card max-w-2-sm p-2">
							<div class="w-80 bg-white shadow rounded border border-transparent cursor-pointer">
								<div class="h-80 w-full bg-gray-200 flex flex-col justify-between p-4 bg-cover bg-center"
									style="background-image: url('{{i.image}}')">

								</div>
								<div class="p-4 text-left">
									<div>
										<h1 class="text-gray-600 font-medium truncate">{{i.name}}</h1>
									</div>
									<div class="flex items-center justify-between py-2">
										<div class="w-full">
											<a class="m-0 p-0" target="_blank" href="{{ url_for('album', id=i.id) }}">
												<span class="uppercase my-auto text-xs bg-green-50 p-0.5 border-green-500 border rounded text-green-700 font-medium block text-center">View Album</span>
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
	{% else %}
	<div class="min-h-screen home-hero flex items-center justify-center">
		<div class="hero-content text-center text-neutral-content w-11/12" style="display: block !important;">
			<form class="grid" action="{{ url_for('search') }}" method="post">
				<label for="default-search"
					class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
				<div class="relative w-full mx-auto">
					<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
						<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
						</svg>
					</div>
					<input type="search" id="default-search" name="query"
						class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Search Songs, artists, albums..." required>
					<button type="submit"
						class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
				</div>
			</form>
		</div>
	</div>
	
	{% endif %}
	<!-- // This function starts the request and calls success on response.
	var refresh = function() {
		fetch('/some/path')
		.then(function(response) {
			return response.text();
		})
		.then(function(data) {
			success(data);
		});
	};
	
	// Replaces the contents of the field with your response and
	// triggers refresh() after 1000ms.
	var success = function(data) {
		document.querySelector('.field').innerHTML = data;
		setTimeout(refresh, 1000);
	};
	
	// Starts processing when document is ready.
	document.addEventListener('DOMContentLoaded', function() {
		refresh();
	}); -->
	
	<script>
	window.onload = function() {
		document.getElementById("default-search").focus();
	};
			
  


		document.querySelectorAll('.download').forEach(function (button) {
			button.addEventListener('click', function () {
				var value = this.getAttribute('data-url');;
				var url = '{{ url_for("download") }}';
				var data = {
					url: value
				};

				this.outerHTML = `<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_P7sC{transform-origin:center;animation:spinner_svv2 .75s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}</style><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_P7sC"/></svg>`;
				fetch(url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify(data),
				}).then(response => response.json())
				.then(data => {
					this.outerHTML = `'<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="black" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7Z"/></svg>'`
					console.log('Success:', data)
					}).catch(function (error) {
						alert("error")
					});
			});
		});
	</script>
</body>

</html>